# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# Environment variables
.env

# Database files
*.db
*.sqlite3

# Logs
*.log

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Pytest / coverage
.pytest_cache/
.coverage
htmlcov/

# Build files
build/
dist/
*.egg-info/

# Temporary files
tmp/
temp/

# Flask session
flask_session/

# Ignore instance folder
instance/

# Ignore feedback logs
feedback_log.jsonl